.clase__main__ip, .clase__main__ip__titulo {
  display: flex;
  flex-wrap: wrap; }

.clase__main__ip__caja__forma__select__1, .clase__main__ip__caja__forma__select__2, .clase__main__htm__form__select__1, .clase__main__htm__form__select__2 {
  border-top: none;
  border-left: none;
  border-right: none;
  max-width: 300px;
  width: auto; }

.clase__main__ip, .clase__main__ip__cierre h4, .clase__main__ip__tabla table {
  width: 90%;
  margin: auto; }

.clase__main__htm__form__input__1, .clase__main__htm__form__input__2, .clase__main__htm__form__input__3 {
  max-width: 700px;
  border-radius: 8px 8px 8px 8px;
  border-style: solid; }

body {
  margin: 0;
  padding: 0; }

@media (min-width: 500px) {
  .text-uppercase {
    font-size: 28px;
    padding: 2rem; }
  .clase__main__index__caja__a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;
    background: rgba(216, 35, 97, 0.64); }
  .clase__main__index__htm p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 23px;
    font-weight: 500;
    text-align: center; }
  .clase__main__index__htm a {
    font: "M PLUS Rounded 1c", sans-serif;
    background-color: #ec7f39;
    text-align: center;
    color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 40px; } }

@media (max-width: 499px) {
  .text-uppercase {
    font-size: 15px;
    padding: 1rem 0 1rem 0.5rem; }
  .clase__main__index__caja__a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;
    background: rgba(216, 35, 97, 0.64); }
  .clase__main__index__htm p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center; }
  .clase__main__index__htm a {
    font: "M PLUS Rounded 1c", sans-serif;
    background-color: #ec7f39;
    text-align: center;
    color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 40px; } }

.clase__main__index {
  width: 95%;
  height: auto;
  display: grid;
  grid-template-areas: "caja1 caja2 caja3" "htm htm htm";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 200px;
  align-items: center;
  max-width: 700px;
  margin: auto;
  column-gap: 1rem; }
  .clase__main__index__caja__1 {
    grid-area: caja1;
    display: flex;
    flex-direction: column; }
  .clase__main__index__caja__2 {
    grid-area: caja2;
    display: flex;
    flex-direction: column; }
  .clase__main__index__caja__3 {
    grid-area: caja3;
    display: flex;
    flex-direction: column; }
  .clase__main__index__caja__1:hover, .clase__main__index__caja__2:hover, .clase__main__index__caja__3:hover {
    transform: scale(1.05); }
  .clase__main__index__caja__img {
    width: 100%;
    height: 100%; }
  .clase__main__index__caja__img:hover {
    opacity: 0.75; }
  .clase__main__index__caja__a:hover, .clase__main__index__htm a:hover {
    text-decoration: none;
    color: white; }
  .clase__main__index__htm {
    grid-area: htm;
    max-width: 100%;
    margin: auto;
    text-align: center;
    height: 150px; }
    .clase__main__index__htm a:hover {
      opacity: 0.75; }
  .clase__main__index__text {
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 10px 0 10px 1.5rem; }
    .clase__main__index__text h1 {
      font-weight: 800; }

@media (min-width: 500px) {
  .clase__main__nosotros h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    width: auto;
    font-size: 40px;
    font-weight: 800;
    padding: 1rem; } }

@media (max-width: 499px) {
  .clase__main__nosotros h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    width: auto;
    font-size: 30px;
    font-weight: 800;
    padding: 1rem; } }

.clase__main__nosotros p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  width: auto;
  font-size: 20px;
  font-weight: 400;
  padding: 0 4.5rem; }

.clase__main__nosotros h5 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  width: auto;
  font-size: 20px;
  font-weight: 500;
  padding: 0; }

.clase__main__nosotros a {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  color: #ec7f39;
  text-decoration: none;
  font-weight: 500;
  font-weight: bold; }

.clase__main__nosotros a:hover {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  color: #ec7f39;
  text-decoration: none;
  font-weight: 500;
  font-weight: bold;
  opacity: 0.6; }

.clase__main__nosotros img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 540px;
  width: 90%;
  padding: 0 0 40px 0; }

.clase__main__nosotros__img {
  display: block;
  margin: auto;
  height: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 40px; }

@media (min-width: 500px) {
  .clase__main__pataton h2 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    width: auto;
    font-size: 45px;
    font-weight: 800;
    padding: 1.8rem; }
  .clase__main__pataton h3 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    width: auto;
    font-size: 40px;
    font-weight: 500;
    padding: 1.5rem; }
  .clase__main__pataton p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    width: auto;
    font-size: 25px;
    font-weight: 300;
    padding: 0 4.5rem; }
  .clase__main__pataton a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 25px;
    color: #ec7f39;
    text-decoration: none;
    font-weight: 500;
    font-weight: bold; }
  .clase__main__pataton a:hover {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 25px;
    color: #ec7f39;
    text-decoration: none;
    font-weight: 500;
    font-weight: bold;
    opacity: 0.6;
    animation: latidos .7s infinite; } }

@media (max-width: 499px) {
  .clase__main__pataton h2 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    width: auto;
    font-size: 30px;
    font-weight: 800;
    padding: 2rem 0 1rem 0; }
  .clase__main__pataton h3 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    width: auto;
    font-size: 30px;
    font-weight: 500;
    padding: 0 0 2rem 0; }
  .clase__main__pataton p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    width: auto;
    font-size: 22px;
    font-weight: 300;
    padding: 0 4.5rem; }
  .clase__main__pataton a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 22px;
    color: #ec7f39;
    text-decoration: none;
    font-weight: 500;
    font-weight: bold; }
  .clase__main__pataton a:hover {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 22px;
    color: #ec7f39;
    text-decoration: none;
    font-weight: 500;
    font-weight: bold;
    opacity: 0.6;
    animation: latidos .7s infinite; } }

.clase__main__pataton__banner img {
  display: block;
  margin: auto;
  height: auto;
  width: 100%; }

.clase__main__pataton img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  border-radius: 50%; }

.clase__main__pataton__img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  max-width: 600px;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px; }

@keyframes latidos {
  from {
    transform: none; }
  50% {
    transform: scale(1.1); }
  to {
    transform: none; } }

.clase__main__producto {
  font-family: "M PLUS Rounded 1c", sans-serif; }
  .clase__main__producto__pretitulo {
    margin: 15px 0 20px 4%; }
    .clase__main__producto__pretitulo h4 {
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-size: 20px;
      font-weight: 300; }
  .clase__main__producto__inicio {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 15px 0 40px 4%; }
    .clase__main__producto__inicio__titulo {
      display: flex;
      justify-content: space-between;
      max-width: 145px;
      max-height: auto;
      flex-wrap: wrap; }
      .clase__main__producto__inicio__titulo a {
        text-decoration: none;
        color: black;
        font-weight: 300; }
      .clase__main__producto__inicio__titulo a:hover {
        text-decoration: none;
        color: black;
        opacity: 0.7; }
      .clase__main__producto__inicio__titulo p {
        text-decoration: none;
        color: black;
        margin: 0px;
        font-weight: bold; }
    .clase__main__producto__inicio__filtro {
      display: flex;
      justify-content: right;
      max-width: 450px;
      max-height: auto;
      flex-wrap: wrap; }
      .clase__main__producto__inicio__filtro__seleccion {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 16px;
        font-weight: 300;
        border: none; }
      .clase__main__producto__inicio__filtro__boton {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 16px;
        font-weight: 300;
        font: "M PLUS Rounded 1c", sans-serif;
        background-color: #ec7f39;
        text-align: center;
        color: white;
        grid-area: boton;
        border: none;
        border-radius: 8px 8px 8px 8px; }
      .clase__main__producto__inicio__filtro__lista {
        display: flex;
        justify-content: space-evenly;
        max-width: 800px;
        max-height: auto;
        width: 60%;
        height: auto;
        flex-wrap: wrap;
        margin: auto; }
        .clase__main__producto__inicio__filtro__lista p {
          margin: 0;
          text-align: center; }
        .clase__main__producto__inicio__filtro__lista img {
          width: 120px;
          height: 120px;
          border-radius: 8px 8px 8px 8px; }
        .clase__main__producto__inicio__filtro__lista__P {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0.5rem;
          font-family: "M PLUS Rounded 1c", sans-serif; }
          .clase__main__producto__inicio__filtro__lista__P__titulo {
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-size: 16px;
            font-weight: 500; }
          .clase__main__producto__inicio__filtro__lista__P__detalle {
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-size: 14px;
            font-weight: 400; }
          .clase__main__producto__inicio__filtro__lista__P__precio {
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-size: 17px;
            font-weight: 800;
            padding: 5px; }
  .clase__main__producto__paginas {
    margin: auto;
    width: 221px;
    font-weight: 500;
    padding: 2rem; }
    .clase__main__producto__paginas__boton {
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-size: 16px;
      font-weight: 400;
      background: none;
      border: none; }
    .clase__main__producto__paginas__boton:hover {
      background: grey;
      color: white; }

.clase__main__ip {
  align-content: center;
  justify-content: space-evenly;
  padding-bottom: 30px; }
  .clase__main__ip img {
    width: 100%;
    height: auto;
    max-width: 450px;
    border-radius: 10%; }
  .clase__main__ip h3 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 10px 0; }
  .clase__main__ip h4 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin: 10px 0; }
  .clase__main__ip p {
    margin: 0; }
  .clase__main__ip form {
    margin-bottom: 10px; }
  .clase__main__ip__titulo {
    justify-content: space-between;
    max-width: 220px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 15px 0 20px 4%; }
    .clase__main__ip__titulo a {
      text-decoration: none;
      color: black; }
    .clase__main__ip__titulo a:hover {
      text-decoration: none;
      color: black;
      opacity: 0.7; }
    .clase__main__ip__titulo p {
      margin: 0px;
      text-decoration: none;
      font-weight: bold; }
  .clase__main__ip__caja {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: left; }
    .clase__main__ip__caja__forma {
      display: grid;
      grid-template-areas: "legend1 select1" "legend2 select2" "boton boton";
      grid-template-columns: 2fr 3fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 1.5rem;
      align-items: center; }
      .clase__main__ip__caja__forma__boton {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 22px;
        font-weight: 500;
        font: "M PLUS Rounded 1c", sans-serif;
        background-color: #ec7f39;
        text-align: center;
        color: white;
        width: 180px;
        height: 40px;
        grid-area: boton;
        border: none;
        border-radius: 8px 8px 8px 8px; }
      .clase__main__ip__caja__forma__legend__1 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 18px;
        font-weight: 400;
        grid-area: legend1; }
      .clase__main__ip__caja__forma__legend__2 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 18px;
        font-weight: 400;
        grid-area: legend2; }
      .clase__main__ip__caja__forma__select__1 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 18px;
        font-weight: 400;
        grid-area: select1; }
      .clase__main__ip__caja__forma__select__2 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 18px;
        font-weight: 400;
        grid-area: select2; }
  .clase__main__ip__cierre {
    margin-bottom: 30px; }
    .clase__main__ip__cierre h4 {
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: left; }
  .clase__main__ip__tabla table {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 700px;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 40px; }
  .clase__main__ip__tabla table tr {
    border-bottom: gray 0.5px solid;
    border-top: gray 0.5px solid; }
  .clase__main__ip__tabla table th {
    border-bottom: gray 2px solid;
    border-top: gray 2px solid; }

@media (min-width: 500px) {
  .clase__main__htm h2 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 500;
    padding: 30px 0;
    font-size: 35px; }
  .clase__main__htm__form {
    display: grid;
    grid-template-areas: "legend1 select1" "legend2 select2" "titulo1 titulo1" "input1 input1" "titulo2 titulo2" "input2 input2" "titulo3 titulo3" "input3 input3" "boton boton";
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5rem;
    row-gap: 0;
    align-items: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    max-width: 700px;
    margin: auto;
    width: 90%;
    grid-template-rows: repeat(8, 1fr) 2fr; } }

@media (max-width: 499px) {
  .clase__main__htm h2 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 500;
    padding: 30px 0;
    font-size: 28px; }
  .clase__main__htm__form {
    display: grid;
    grid-template-areas: "legend1 select1" "legend2 select2" "titulo1 titulo1" "input1 input1" "titulo2 titulo2" "input2 input2" "titulo3 titulo3" "input3 input3" "boton boton";
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5rem;
    row-gap: 0;
    align-items: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    max-width: 700px;
    margin: auto;
    width: 90%;
    grid-template-rows: repeat(8, 0.7fr) 1.5fr; } }

.clase__main__htm img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
  width: auto;
  margin-top: 40px; }

.clase__main__htm__form__legend__1 {
  grid-area: legend1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  font-weight: 500; }

.clase__main__htm__form__legend__2 {
  grid-area: legend2;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  font-weight: 500; }

.clase__main__htm__form__select__1 {
  grid-area: select1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  font-weight: 500; }

.clase__main__htm__form__select__2 {
  grid-area: select2;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  font-weight: 500; }

.clase__main__htm__form__h4__1 {
  grid-area: titulo1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  font-weight: 500; }

.clase__main__htm__form__h4__2 {
  grid-area: titulo2;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  font-weight: 500; }

.clase__main__htm__form__h4__3 {
  grid-area: titulo3;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  font-weight: 500; }

.clase__main__htm__form__input__1 {
  grid-area: input1;
  width: auto;
  height: 30px; }

.clase__main__htm__form__input__2 {
  grid-area: input2;
  width: auto;
  height: 30px; }

.clase__main__htm__form__input__3 {
  grid-area: input3;
  width: auto;
  height: 30px; }

.clase__main__htm__form__boton {
  grid-area: boton;
  font: "M PLUS Rounded 1c", sans-serif;
  background-color: #ec7f39;
  text-align: center;
  color: white;
  width: 180px;
  height: 40px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  font-weight: 500;
  border: none;
  border-radius: 8px 8px 8px 8px;
  margin: auto; }
