body{
    margin: 0;
    padding: 0;
}
/*Header*/
.clase__header{
    background:rgba(253, 171, 199, 1);
    color: white;
    position: sticky;
    left: 0;
    top:0;
    right: 0;
    z-index: 1;
}   
.clase__header a{
    color: white;
    text-decoration: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 19px;
}
.clase__header__logo{
	height: 80px;
    width: 120px;
    padding-left: 40px;
}
.clase__header__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clase__header__contenedor__nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.clase__header__contenedor__nav ul li{
    display: inline-block;
}
.clase__header__contenedor__nav ul li a{
    display: block;
    padding: 0.5rem 1rem;
}
.clase__header__contenedor__nav ul li a:hover{
    text-decoration: underline;
    font-weight:500;
}
/*main__index*/
.clase__main__index__banner{
    width: 100%;
    margin: auto;
    height: auto;

}
.clase__main__index__text{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1.5rem;
}
.clase__main__index__text h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
}
.clase__main__index{
    display: grid;
    grid-template-areas:
    "caja1 caja2 caja3"
    "htm htm htm";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 200px;
    align-items: center;
    max-width: 700px;
    margin: auto;
    width: 95%;
    height: auto;
    column-gap: 1rem;
}
.clase__main__index__caja__1{
    grid-area: caja1;
    display: flex;
    flex-direction: column;
}
.clase__main__index__caja__2{
    grid-area: caja2;
    display: flex;
    flex-direction: column;
}
.clase__main__index__caja__3{
    grid-area: caja3;
    display: flex;
    flex-direction: column;
}
.clase__main__index__caja__a{
    color:white;
    font-weight: 500;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    text-align:center;
    background: rgba(216, 35, 97, 0.64);
}
.clase__main__index__caja__img{
    width: 100%;
    height: 100%;
}
.clase__main__index__caja__img:hover{
    opacity: 0.75;
}
.clase__main__index__htm{
    grid-area: htm;
    max-width: 100%;
    margin: auto;
    text-align: center;
    height: 170px;
}
.clase__main__index__htm p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 23px;
    text-align:center;
    font-weight: 500;
}
.clase__main__index__htm a{
    text-decoration: none;
    background-color: rgba(236, 127, 57, 1);
    color:white;
    border-radius: 50px;
    font-weight: bold;
    padding: 5px 40px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    text-align: center;
}
.clase__main__index__htm a:hover{
    opacity: 0.75;
}
/*main__nosotros*/
.clase__main__nosotros__img{
    border-radius: 50%;
    width:250px;
    height:250px;
    display:block;
    margin:auto;
    width: auto;
    margin-top: 40px;
}
.clase__main__nosotros h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    width: auto;
}
.clase__main__nosotros p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align:center;
    width: auto;
    padding: 0 4.5rem;
}
.clase__main__nosotros h5{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align:center;
    width: auto;
}
.clase__main__nosotros a{
    font-weight: 500;
    font-weight: bold;
    font-size: 22px;
    color: rgba(236, 127, 57, 1);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
}
.clase__main__nosotros a:hover{
    opacity: 0.6;
}
.clase__main__nosotros img{
    display:block;
    margin:auto;
    height: auto;
    max-width: 540px;
    width: 90%;
    padding: 0 0 40px 0;
}
/*main_pataton*/
.clase__main__pataton__banner img{
    height: auto;
    width: 100%;
    margin: auto;
}
.clase__main__pataton h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}
.clase__main__pataton p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    padding: 0 4.5rem;
}
.clase__main__pataton a{
    font-weight: 500;
    font-size: 25px;
    color: rgba(236, 127, 57, 1);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
}
.clase__main__pataton a:hover{
    opacity: 0.6;
}
.clase__main__pataton img{
    display:block;
    margin:auto;
    max-height: 250px;
    max-width: 250px;
    width: 100%;
    border-radius: 50%;
}
.clase__main__pataton__img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1rem;
    max-width: 600px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.clase__main__pataton h3{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
/*main_bandanas/correas/placas*/
.clase__main__producto__pretitulo{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 15px;
    margin-left: 4%;
    margin-bottom: 20px;
}
.clase__main__producto__pretitulo h4{
    font-size: 20px;
    font-weight: 300;
}
.clase__main__producto__inicio{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 15px;
    margin-left: 4%;
    margin-bottom: 40px;
}
.clase__main__producto__inicio__titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 140px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__producto__inicio__titulo a{
    text-decoration: none;
    color:black;
}
.clase__main__producto__inicio__titulo a:hover{
    opacity: 0.7;
}
.clase__main__producto__inicio__titulo p{
    margin: 0px;
    text-decoration: none;
    font-weight: bold;
}
.clase__main__producto__inicio__filtro{
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    max-width: 450px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__producto__inicio__filtro__seleccion{
    font-size: 16px;
    font-weight: 300;
    border: none;
}
.clase__main__producto__inicio__filtro__boton{
    grid-area: boton;
    border: none;
    background-color: rgba(236, 127, 57, 1);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: white;
    border-radius: 8px 8px 8px 8px;
}
.clase__main__producto__inicio__filtro__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 60%;
    max-width: 800px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__producto__inicio__filtro__lista p{
    margin: 0;
    text-align: center;
}
.clase__main__producto__inicio__filtro__lista img{
    height: 120px;
    width: 120px;
    border-radius: 8px 8px 8px 8px;
}
.clase__main__producto__inicio__filtro__lista__P{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}
.clase__main__producto__inicio__filtro__lista__P__titulo{
    font-size: 16px;
    font-weight: 500;
}
.clase__main__producto__inicio__filtro__lista__P__detalle{
    font-size: 14px;
    font-weight: 400;
}
.clase__main__producto__inicio__filtro__lista__P__precio{
    font-size: 17px;
    font-weight: 800;
    padding: 5px;
}
.clase__main__producto__paginas{
    margin: auto;
    width: 160px;
    padding: 2rem;
}
.clase__main__producto__paginas__boton{
    background: none;
    border: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.clase__main__producto__paginas__boton:hover{
    background: grey;
    color: white;
    font-weight: 500;
}
/*main_interno_producto (ip)*/
.clase__main__ip__titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 220px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 15px;
    margin-left: 4%;
    margin-bottom: 20px;
}
.clase__main__ip__titulo a{
    text-decoration: none;
    color:black;
}
.clase__main__ip__titulo a:hover{
    opacity: 0.7;
}
.clase__main__ip__titulo p{
    margin: 0px;
    text-decoration: none;
    font-weight: bold;
}
.clase__main__ip{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}
.clase__main__ip img{
    height: auto;
    max-width: 450px;
    width: 100%;
    border-radius: 10%;
}
.clase__main__ip__caja{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: left;
}
.clase__main__ip h3{
    font-size: 50px;
    font-weight: 500;
    margin: 10px 0;
}
.clase__main__ip h2{
    font-size: 35px;
    font-weight: 400;
    margin: 10px 0;
}
.clase__main__ip p{
    margin: 0;
}
.clase__main__ip form{
    margin-bottom: 10px;
}
.clase__main__ip__cierre{
    margin-bottom: 30px;
}
.clase__main__ip__cierre h4{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: left;
    font-weight: 400;
    width: 90%;
    margin: auto;
}
.clase__main__ip__caja__forma{
    display: grid;
    grid-template-areas: 
    "legend1 select1"
    "legend2 select2"
    "boton boton";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.5rem;
    align-items:center;
}
.clase__main__ip__caja__forma__boton{
    grid-area: boton;
    border: none;
    background-color: rgba(236, 127, 57, 1);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-weight: 500;
    height: 40px;
    width: 180px;
    font-size: 22px;
    color: white;
    border-radius: 8px 8px 8px 8px;
}
.clase__main__ip__caja__forma__legend__1{
    grid-area: legend1;
    font-size: 18px;
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__ip__caja__forma__legend__2{
    grid-area: legend2;
    font-size: 18px;
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__ip__caja__forma__select__1{
    grid-area: select1;
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 300px;
    width: auto;
    font-size: 18px;
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__ip__caja__forma__select__2{
    grid-area: select2;
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 300px;
    width: auto;
    font-size: 18px;
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__ip__tabla table{
    width: 90%;
    max-width: 700px;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}
.clase__main__ip__tabla table tr{
    border-bottom: gray 0.5px solid;
    border-top: gray 0.5px solid;
}
.clase__main__ip__tabla table th{
    border-bottom: gray 2px solid;
    border-top: gray 2px solid;
}
/*main_htm*/
.clase__main__htm img{
    border-radius: 50%;
    width:200px;
    height:200px;
    display:block;
    margin:auto;
    width: auto;
    margin-top: 40px;
}
.clase__main__htm h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 35px;
    font-weight: 500;
    padding: 30px 0;
}
.clase__main__htm__form{
    display: grid;
    grid-template-areas: 
    "legend1 select1"
    "legend2 select2"
    "titulo1 titulo1"
    "input1 input1"
    "titulo2 titulo2"
    "input2 input2"
    "titulo3 titulo3"
    "input3 input3"
    "boton boton";
    grid-template-rows: repeat(8, 1fr) 2fr;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5rem;
    row-gap: 0;
    align-items:center; 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    max-width: 700px;
    margin: auto;
    width: 90%;
}
.clase__main__htm__form__legend__1{
    grid-area: legend1;
    font-size: 18px;
    font-weight: 500;
}
.clase__main__htm__form__legend__2{
    grid-area: legend2;
    font-size: 18px;
    font-weight: 500;
}
.clase__main__htm__form__select__1{
    grid-area: select1;
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 400px;
    width: auto;
    font-size: 18px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__htm__form__select__2{
    grid-area: select2;
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 400px;
    width: auto;
    font-size: 18px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__main__htm__form__h4__1{
    grid-area: titulo1;
    font-size: 18px;
    font-weight: 500;
}
.clase__main__htm__form__h4__2{
    grid-area: titulo2;
    font-size: 18px;
    font-weight: 500;
}
.clase__main__htm__form__h4__3{
    grid-area: titulo3;
    font-size: 18px;
    font-weight: 500;
}
.clase__main__htm__form__input__1{
    grid-area: input1;
    max-width: 700px;
    width: auto;
    height: 30px;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
}
.clase__main__htm__form__input__2{
    grid-area: input2;
    max-width: 700px;
    width: auto;
    height: 30px;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
}
.clase__main__htm__form__input__3{
    grid-area: input3;
    max-width: 700px;
    width: auto;
    height: 30px;
    border-radius: 8px 8px 8px 8px;
    border-style:solid;
}
.clase__main__htm__form__boton{
    grid-area: boton;
    border: none;
    background-color: rgba(236, 127, 57, 1);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    height: 40px;
    width: 180px;
    font-size: 22px;
    color: white;
    border-radius: 8px 8px 8px 8px;
    margin: auto;
}
/*footer*/
footer{
    background:rgba(253, 171, 199, 1);
	height: auto;
    max-height: 1000px;
    width: 100%;
    padding-top: 50px 0px;
    left: 0;
    right: 0;
}
.clase__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    max-width: 1400px;
    margin: auto;
    padding-right: 60px;
}
.clase__footer__caja{
    display: flex;
    flex-direction: column;
    padding:40px;
}
.clase__footer__caja__logo{
    float: left;
	height: 80px;
    width: 120px;
}
.clase__footer__caja__texto{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: left;
}
.clase__footer__caja h3{
    margin-bottom:  30px;
    color: white;
    font-weight: 800;
    font-size: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clase__footer__caja a{
    margin-top: 10px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
}
.clase__footer__caja a:hover{
    opacity: 0.7;
}
.clase__footer__caja a .fab{
    font-size: 23px;
    margin-right: 10px;
}
.clase__footer__caja a .fas{
    font-size: 23px;
    margin-right: 10px;
}
.clase__footer__caja__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 10px 40px;
}
.clase__footer__caja__copyright p{
    margin-top: 20px;
    color: white;
}
.clase__footer__caja__copyright hr{
    border: none;
    height: 1px;
    background-color: white;
}