// ESTILOS
$font-family:'M PLUS Rounded 1c', sans-serif;
@mixin estilos_txt_1($size: 20px) {
    font-family: $font-family;
    text-align:center;
    width: auto;
    font-size: $size;
}
@mixin estilos_txt_a($size: 22px) {
    font-family: $font-family;
    font-size: $size;
    color: rgba(236, 127, 57, 1);
    text-decoration: none;
    font-weight: 500;
    font-weight: bold;
}
@mixin estilos_txt_a_productos{
    text-decoration: none;
    color:black;
}
@mixin font_size ($f_size, $f_weight) {
    font-family: $font-family;
    font-size: $f_size;
    font-weight: $f_weight;
}
@mixin display_justify($display, $justify) {
    display: $display;
    justify-content: $justify;
}
@mixin font_padding ($font, $padding) {
    font-weight: $font;
    padding: $padding;
}
@mixin font_size_padding ($font_size, $padding) {
    font-size: $font_size;
    padding: $padding;
}
@mixin max_width_height($max_width, $max_height) {
    max-width: $max_width;
    max-height: $max_height;
}
@mixin width_height($width, $height) {
    width: $width;
    height: $height;
}
@mixin bordes_tabla ($tamano) {
    border-bottom: gray $tamano solid;
    border-top: gray $tamano solid;
}
@mixin imagenes_nosotros {
    display:block;
    margin:auto;
    height: auto;
}
@mixin index_cajas ($grid) {
    grid-area: $grid;
    display: flex;
    flex-direction: column;
}
@mixin index_cajas_hover {
    transform: scale(1.05);
}
@mixin boton {
    font: $font-family;
    background-color: rgba(236, 127, 57, 1);
    text-align: center;
    color: white;
}
@mixin media_form_htm($v1, $v2){
    display: grid;
    grid-template-areas: 
    "legend1 select1"
    "legend2 select2"
    "titulo1 titulo1"
    "input1 input1"
    "titulo2 titulo2"
    "input2 input2"
    "titulo3 titulo3"
    "input3 input3"
    "boton boton";
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5rem;
    row-gap: 0;
    align-items:center; 
    font-family: $font-family;
    max-width: 700px;
    margin: auto;
    width: 90%;
    grid-template-rows: repeat(8, $v1) $v2;
}
@mixin media_h2_htm($font_size){
    font-family: $font-family;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 500;
    padding: 30px 0;
    font-size: $font_size;
}
$estilos:(
    texto:white,
    sin_decoracion: none,
    centro:center
);
%flex_producto{
    display: flex;
    flex-wrap: wrap;
}
%borde_opc{
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 300px;
    width: auto;
}
%width_margin{
    width: 90%;
    margin: auto;
}
%borde_htm{
    max-width: 700px;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
}
//BODY
body{
    margin: 0;
    padding: 0;
}
//INDEX
@media (min-width:500px) {
    .text-uppercase{
        @include font_size_padding (28px, 2rem);
    }
    .clase__main__index__caja__a{
        @include font_size (20px, 500);
        color:map-get($estilos, texto);
        text-decoration:map-get($estilos, sin_decoracion);
        text-align:map-get($estilos, centro);
        background: rgba(216, 35, 97, 0.64);
    }
    .clase__main__index__htm p{
        @include font_size (23px, 500);
        text-align:map-get($estilos, centro);
    }
    .clase__main__index__htm a{
        @include boton;
        @include font_size (25px, bold);
        text-decoration:map-get($estilos, sin_decoracion);
        border-radius: 50px;
        padding: 5px 40px;
    }
}
@media (max-width:499px) {
    .text-uppercase{
        @include font_size_padding (15px, 1rem 0 1rem 0.5rem);
    }
    .clase__main__index__caja__a{
        @include font_size (14px, 500);
        color:map-get($estilos, texto);
        text-decoration:map-get($estilos, sin_decoracion);
        text-align:map-get($estilos, centro);
        background: rgba(216, 35, 97, 0.64);
    }
    .clase__main__index__htm p{
        @include font_size (18px, 500);
        text-align:map-get($estilos, centro);
    }
    .clase__main__index__htm a{
        @include boton;
        @include font_size (20px, bold);
        text-decoration:map-get($estilos, sin_decoracion);
        border-radius: 50px;
        padding: 5px 40px;
    }
}
.clase__main__index{
    @include width_height(95%, auto);
    display: grid;
    grid-template-areas:
    "caja1 caja2 caja3"
    "htm htm htm";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 200px;
    align-items: center;
    max-width: 700px;
    margin: auto;
    column-gap: 1rem;
    &__caja{
        &__1{
            @include index_cajas (caja1);
        }
        &__2{
            @include index_cajas (caja2);
        }
        &__3{
            @include index_cajas (caja3);
        }
        &__1:hover, &__2:hover, &__3:hover{
            @include index_cajas_hover;
        }
        &__img{
            @include width_height(100%, 100%)
        }
        &__img:hover{
            opacity: 0.75;
        }
        &__a:hover{
            text-decoration:map-get($estilos, sin_decoracion);
            color:map-get($estilos, texto);
        }
    }
    &__htm{
        grid-area: htm;
        max-width: 100%;
        margin: auto;
        text-align:map-get($estilos, centro);
        height: 150px;
        a:hover{
            @extend .clase__main__index__caja__a:hover;
            opacity: 0.75;
        }
    }
    &__text{
        font-family: $font-family;
        margin:10px 0 10px 1.5rem;
        h1{
            font-weight: 800;
        }
    }
}
//NOSOTROS
@media (min-width:500px) {
    .clase__main__nosotros h1{
        @include estilos_txt_1($size: 40px);
        @include font_padding (800, 1rem);
    }
}
@media (max-width:499px) {
    .clase__main__nosotros h1{
        @include estilos_txt_1($size: 30px);
        @include font_padding (800, 1rem);
    }
}
.clase__main__nosotros{
    p{
        @include estilos_txt_1();
        @include font_padding (400, 0 4.5rem);
    }
    h5{
        @include estilos_txt_1();
        @include font_padding (500, 0);
    }
    a{
        @include estilos_txt_a();
    }
    a:hover{
        @include estilos_txt_a();
        opacity: 0.6;
    }
    img{
        @include imagenes_nosotros();
        max-width: 540px;
        width: 90%;
        padding: 0 0 40px 0;
    }
    &__img{
        @include imagenes_nosotros();
        @include width_height(250px, 250px);
        border-radius: 50%;
        margin-top: 40px;
    }
}
//PATATON
@media (min-width:500px){
    .clase__main__pataton{
        h2{
            @include estilos_txt_1($size:45px);
            @include font_padding (800, 1.8rem);
        }
        h3{
            @include estilos_txt_1($size:40px);
            @include font_padding (500, 1.5rem);
        }    
        p{
            @include estilos_txt_1($size:25px);
            @include font_padding (300, 0 4.5rem);
        }
        a{
            @include estilos_txt_a($size:25px);
        }
        a:hover{
            @include estilos_txt_a($size:25px);
            opacity: 0.6;
            animation: latidos .7s infinite;
        }
    }
}
@media (max-width:499px) {
    .clase__main__pataton{
        h2{
            @include estilos_txt_1($size:30px);
            @include font_padding (800, 2rem 0 1rem 0);
        }
        h3{
            @include estilos_txt_1($size:30px);
            @include font_padding (500, 0 0 2rem 0);
        }
        p{
            @include estilos_txt_1($size:22px);
            @include font_padding (300, 0 4.5rem);
        }
        a{
            @include estilos_txt_a($size:22px);
        }
        a:hover{
            @include estilos_txt_a($size:22px);
            opacity: 0.6;
            animation: latidos .7s infinite;
        }
    }
}
.clase__main__pataton{
    &__banner img{
        @include imagenes_nosotros();
        width: 100%;
    }
    img{
        @include imagenes_nosotros();
        @include max_width_height(250px, 250px);
        width: 100%;
        border-radius: 50%;
    }
    &__img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 1rem;
        max-width: 600px;
        width: 90%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}
//MAIN BANDANAS, CORREAS Y PLACAS
.clase__main__producto{
    font-family: $font-family;
    &__pretitulo{
        margin: 15px 0 20px 4%;
        h4{
            @include font_size (20px, 300);
        }
    }
    &__inicio{
        @include display_justify(flex, space-between);
        width: 90%;
        margin: 15px 0 40px 4%;
        &__titulo{
            @include display_justify(flex, space-between);
            @include max_width_height(145px, auto);
            flex-wrap: wrap;
            a{
                @include estilos_txt_a_productos();
                font-weight: 300;
            }
            a:hover{
                @include estilos_txt_a_productos();
                opacity: 0.7;
            }
            p{
                @include estilos_txt_a_productos();
                margin: 0px;
                font-weight: bold;
            }
        }
        &__filtro{
            @include display_justify(flex, right);
            @include max_width_height(450px, auto);
            flex-wrap: wrap;
            &__seleccion{
                @include font_size (16px, 300);
                border: none;
            }
            &__boton{
                @include font_size (16px, 300);
                @include boton;
                grid-area: boton;
                border: none;
                border-radius: 8px 8px 8px 8px;
            }
            &__lista{
                @include display_justify(flex, space-evenly);
                @include max_width_height(800px, auto);
                @include width_height(60%, auto);
                flex-wrap: wrap;
                margin: auto;
                p{
                    margin: 0;
                    text-align:map-get($estilos, centro);
                }
                img{
                    @include width_height(120px, 120px);
                    border-radius: 8px 8px 8px 8px;
                }
                &__P{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0.5rem;
                    font-family: $font-family;
                    &__titulo{
                        @include font_size (16px, 500);
                    }
                    &__detalle{
                        @include font_size (14px, 400);
                    }
                    &__precio{
                        @include font_size (17px, 800);
                        padding: 5px;
                    }
                }
            }
        }
    }
    &__paginas{
        margin: auto;
        width: 221px;
        @include font_padding (500, 2rem);
        &__boton{
            @include font_size (16px, 400);
            background: none;
            border: none;
        }
        &__boton:hover{
            background: grey;
            color:map-get($estilos, texto);
        }
    }
}
//INTERNA PRODUCTO
.clase__main__ip{
    @extend %flex_producto;
    @extend %width_margin;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    img{
        @include width_height(100%, auto);
        max-width: 450px;
        border-radius: 10%;
    }
    h3{
        @include font_size (50px, 500);
        margin: 10px 0;
    }
    h4{
        @include font_size (35px, 400);
        margin: 10px 0;
    }
    p{
        margin: 0;
    }
    form{
        margin-bottom: 10px;
    }
    &__titulo{
        @extend %flex_producto;
        justify-content: space-between;
        max-width: 220px;
        font-family: $font-family;
        margin: 15px 0 20px 4%;
        a{
            @include estilos_txt_a_productos;
        }
        a:hover{
            @include estilos_txt_a_productos;
            opacity: 0.7;
        }
        p{
            margin: 0px;
            text-decoration:map-get($estilos, sin_decoracion);
            font-weight: bold;
        }
    }
    &__caja{
        font-family: $font-family;
        text-align: left;
        &__forma{
            display: grid;
            grid-template-areas: 
            "legend1 select1"
            "legend2 select2"
            "boton boton";
            grid-template-columns: 2fr 3fr;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 1.5rem;
            align-items:center;
            &__boton{
                @include font_size (22px, 500);
                @include boton;
                @include width_height(180px, 40px);
                grid-area: boton;
                border: none;
                border-radius: 8px 8px 8px 8px;
            }
            &__legend__1{
                @include font_size (18px, 400);
                grid-area: legend1;
            }
            &__legend__2{
                @include font_size (18px, 400);
                grid-area: legend2;
            }
            &__select__1{
                @include font_size (18px, 400);
                grid-area: select1;
                @extend %borde_opc;
            }
            &__select__2{
                @include font_size (18px, 400);
                grid-area: select2;
                @extend %borde_opc;
            }
        }
    }
    &__cierre{
        margin-bottom: 30px;
        h4{
            @include font_size (18px, 400);
            @extend %width_margin;
            text-align: left;
        }
    }
    &__tabla{
        table{
            @include font_size (14px, 400);
            @extend %width_margin;
            max-width: 700px;
            border-spacing: 0;
            border-collapse: collapse;
            line-height: 1.4;
            text-align: center;
            margin-bottom: 40px;
        }
        table tr{
            @include bordes_tabla (0.5px);
        }
        table th{
            @include bordes_tabla (2px);
        }
    }
}
//HAZLO TU MISMO
@media (min-width:500px){
    .clase__main__htm h2{
        @include media_h2_htm(35px);
    }
    .clase__main__htm__form{
        @include media_form_htm(1fr, 2fr);
    }
}
@media (max-width:499px) {
    .clase__main__htm h2{
        @include media_h2_htm(28px);
    }
    .clase__main__htm__form{
        @include media_form_htm(0.7fr, 1.5fr);
    }
}
.clase__main__htm{
    img{
        @include  width_height(200px, 200px);
        border-radius: 50%;
        display:block;
        margin:auto;
        width: auto;
        margin-top: 40px;
    }
    &__form{
        &__legend{
            &__1{
                grid-area: legend1;
                @include font_size (18px, 500);
            }
            &__2{
                grid-area: legend2;
                @include font_size (18px, 500);
            }
        }
        &__select{
            &__1{
                grid-area: select1;
                @include font_size (18px, 500);
                @extend %borde_opc;
            }
            &__2{
                grid-area: select2;
                @include font_size (18px, 500);
                @extend %borde_opc;
            }
        }
        &__h4{
            &__1{
                grid-area: titulo1;
                @include font_size (18px, 500);
            }
            &__2{
                grid-area: titulo2;
                @include font_size (18px, 500);
            }
            &__3{
                grid-area: titulo3;
                @include font_size (18px, 500);
            }
        }
        &__input{
            &__1{
                grid-area: input1;
                @include  width_height(auto, 30px);
                @extend %borde_htm;
            }
            &__2{
                grid-area: input2;
                @include  width_height(auto, 30px);
                @extend %borde_htm;
            }
            &__3{
                grid-area: input3;
                @include  width_height(auto, 30px);
                @extend %borde_htm;
            }
        }
        &__boton{
            grid-area: boton;
            @include boton;
            @include  width_height(180px, 40px);
            @include font_size (22px, 500);
            border: none;
            border-radius: 8px 8px 8px 8px;
            margin: auto;
        }
    }
}